<html>
<head>
	<title>6.857 TFZKP Authentication</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="static/css/application.css" rel="stylesheet" media="screen">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<script language="javascript" type="text/javascript"> 
	function logOut () {
		window.location = window.location.origin + '/logout';
	}

</script>

<body>
<div class="container">
<div class="jumbotron">
<h1>6.857 TFZKP Authentication</h1>
<p>This is our final project for 6.857 - Networks Security Spring 2014.</p>
</div>

<!-- Flashed messages -->
<div class="flash" id="flash" style="color:#ff0000;">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
				<br />
			{% endfor %}
		{% endif %}
	{% endwith %}
	<br />
</div>

<!-- Home page text -->
<div class="home" id="home">
	Welcome <strong>{{ g.username }}</strong> !!!

<!-- 	<a href="../logout/">Logout</a> -->
</div>

<br />
<br />

<button class="btn btn-primary" onclick="logOut()";>Sign out</button>

<div class ="page-header"> </div>


<footer>
  <p>Copyright 2014 by Quan Nguyen</p>
  <p>Contact information: <a href="mailto:qdnguyen@mit.edu">qdnguyen@mit.edu</a>.</p>
</footer>

<script type="text/javascript" src="static/js/jquery-2.0.3.min.js?v=00005"></script>
<script type="text/javascript" src="static/js/reconnecting-websocket.min.js?v=00002"></script>
<script type="text/javascript" src="static/js/application.js?v=00002"></script>
</body>
</html>
